@using DocumentationViewer.Models
@model PropertyViewModel


<div>
    <h4>@Model.Instance.Name Property</h4>
    <h5>Namespace: @Html.ActionLink(Model.Instance.ParentFullName, "Index", new { FullName = Model.Instance.ParentFullName })</h5>
    <hr />
    <pre><code class="csharp">@Model.DeclarationLiteral</code></pre>
    <p>
        @Model.Summary
    </p>
    
    <h5><b>Property Value</b></h5>
    @Html.ActionLink(Model.Instance.Type.Name, "Index", new { FullName = Model.Instance.Type.FullName })


</div>